body {
  margin: 0;
  padding: 0;
}
body.dol {
}

#app {
  /* position: relative; */
  margin: 0;
  padding-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  height: 450px;
  width: 636px;
}

#map {
  border: 1px solid #C5C5C5;
  width: 636px;
  height: 450px;
}

#map img {
  margin: 0;
}

#tools {
  display: none;
}

#hover {
  position: absolute;
  display: none;
  z-index: 1000;
  opacity: 0.8;
  float: left;
}

#hover h3 {
  font-size: 13px;
}

#hover ul {
  list-style: none;
  font-size: 11px;
  margin: 0;
  padding: 0 0.5em;
}

#hover ul strong {
  font-size: 11px;
  font-weight: bold;
}

#databox {
  position: absolute;
  top: 0;
  left: 605px;
  height: 400px;
  background-color: white;
  border: 1px solid #C5C5C5;
}

div.theme-box {
  text-align: center;
  margin-bottom: 1em;
}

#data table {
  margin: 1em 0;
}


#legendbox {
  position: absolute;
  z-index: 1200;
  float: left;
  top: 105px;
  left: 75px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: rgb(0, 0, 0);
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#legendbox h5 {
  background: rgb(0, 60, 136);
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  font-size: 12px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

#legend {
  display: none;
  margin: 5px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  border-radius: 4px;
  text-align: center;
}

#legend h6 {
  margin: 2px 20px;
}

#x {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 6px;
  top: 6px;
  background-color: white;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 10px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #888;
}

#legend img {
  margin: 0;
}


th {
  font-size: 11px;
}
	
td {
  font-size: 11px;
}

td.ta_right {
	text-align: right;
}

td.ta_small {
	font-size: 8px;
}
